/* MOVIES CARDS */
.movie-container {
  background-color: #2c3e5042;
  box-shadow: 2px 2px 5px #2c3e508c;
  border-radius: 0.5rem;
  width: 100%;
}

.movie-container:hover {
  cursor: pointer;
  transition: background-color 0.15s;
  background-color: #2c3e50c9;
  color: white;
}

.movie-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.movie-description {
  padding: 1rem;
}

/* ANIMATION LIST */
.list-enter-from {
  opacity: 0;
  transform: scale(0.6);
}
.list-enter-to {
  opacity: 1;
  transform: scale(1);
}
.list-enter-active {
  transition: all 0.5s ease;
}
.list-move {
  transition: all 0.5s ease;
}