/* HEADER */

h1 {
  font-size: 3rem;
}

/* SEARCH BAR */

.search-container {
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.search-bar {
  width: 100%;
  height: 2.5rem;
  border: 2px solid #2c3e509f;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.1rem;
  text-indent: 1rem;
}

/* RADIO BUTTONS */

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}

.radio-btn {
  transform: scale(1.5);
  margin-top: 0;
}

.radio-btn:hover {
  cursor: pointer;
}

/* MOVIES WRAPPER */

.movies-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.no-movies-container {
  border: 2px solid rgb(190, 51, 51);
  border-radius: 0.5rem;
  width: 90%;
  margin: -2rem auto;
  padding: 2rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(200, 57, 57, 0.164);
}

@media only screen and (max-width: 750px) {
  .movies-wrapper {
    grid-template-columns: 1fr;
  }
}
